<div class="product-card group gold-glow animate-fade-up" [routerLink]="['/product-details', id]">

  <div class="product-img-wrapper">
    <img [src]="imageSrc" [alt]="name" class="product-image">
    <div class="quick-view" [routerLink]="['/product-details', id]">
      <button class="quick-view-btn">Quick View</button>
    </div>
    <div *ngIf="!inStock" class="out-of-stock-badge">
      Out of Stock
    </div>
  </div>
  <div class="product-info">
    <p class="product-category uppercase tracking-widest">{{ category }}</p>
    <h3 class="font-playfair product-name">{{ name }}</h3>
    <div class="product-meta">
      <p class="product-price">{{ price | currency:'INR' }}</p>
      <p class="product-weight uppercase tracking-widest">{{ weight }}</p>
    </div>
  </div>
</div>
